node_modules
out
*.pbf
ignore
buildTestOut
skia/
builtGlyphs/
builtGlyphsV2/
builtGlyphsTmp/
*.font
*.font-shm
*.font-wal
*.icon
*.icon-shm
*.icon-wal
build/
icons/
msdfgen-master/
openFonts/
testImage.webp
dist
tmp-process-roboto-sdf.sqlite
tmp-process-roboto-sdf.sqlite-shm
tmp-process-roboto-sdf.sqlite-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
.DS_Store
