node_modules
out
*.pbf
ignore
buildTestOut
skia/
builtGlyphs/
builtGlyphsV2/
builtGlyphsTmp/
*.font
*.font-shm
*.font-wal
*.icon
*.icon-shm
*.icon-wal
build/
icons/
msdfgen-master/
openFonts/
testImage.webp
dist
